/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/*=========================================================
		Table Of Contents
=========================================================*/
/*01. ### Banner Area Start

*/
/*=========================================================
		Import Fonts & All CSS Files
=========================================================*/
/* 
******* Variables 
*/
/* @function rem($value) {
    $toRem: ($value / 16) + rem;
    @return $toRem;
} */
/*=========================================================
    [ Reset ]
=========================================================*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: #c5c5c5;
  background: #272731;
  font-weight: 300;
  font-size: 16px;
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 575.98px) {
  body {
    font-size: 14px;
  }
}

body .mfp-content {
  max-width: 700px !important;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background-color: #9c9c9c;
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: #ff2d67;
  border-radius: 0px;
}

::-moz-selection {
  background: #ff2d67;
  color: #fff;
}

::selection {
  background: #ff2d67;
  color: #fff;
}

::-moz-selection {
  background: #ff2d67;
  color: #fff;
}

input[type="text"] {
  width: 100%;
}

input[type="number"] {
  width: 100%;
}

button:focus {
  outline: none;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=========================================================
    [ Common style ]
=========================================================*/
.slick-dots li button {
  background: #c7c7cd;
  height: 12px;
  width: 12px;
  display: inline-block;
  text-indent: -9999px;
  border-radius: 100%;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .slick-dots li button {
    height: 10px;
    width: 10px;
  }
}

.slick-dots li.slick-active button {
  background: #ff2d67;
  width: 30px;
  border-radius: 5px;
  height: 5px;
  margin: 0 -5px;
}

.video-play-btn {
  background: inherit;
  color: inherit;
  z-index: 5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.video-play-btn::before {
  -webkit-animation: pulse-border 3s linear infinite;
          animation: pulse-border 3s linear infinite;
  -webkit-transition: all .4s;
  transition: all .4s;
}

[data-background] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: inherit;
  -webkit-animation: fade-effect 1s;
          animation: fade-effect 1s;
}

.common-title {
  font-size: 24px;
  color: #ebebeb;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .common-title {
    font-style: 21px !important;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .common-title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 575.98px) {
  .common-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .common-title {
    font-size: 19px;
  }
}

.common-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .common-para {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .common-para {
    font-size: 14px;
  }
}

.line--limit-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-base--section {
  background: #ff2d67;
}

.bg--section {
  background: #00000033;
}

.bg--footer {
  background: #262229;
}

.fs-22 {
  font-size: 22px !important;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .fs-22 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  .fs-22 {
    font-size: 19px !important;
  }
}

.fs-20 {
  font-size: 20px !important;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .fs-20 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  .fs-20 {
    font-size: 17px !important;
  }
}

.fs-18 {
  font-size: 18px !important;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .fs-18 {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  .fs-18 {
    font-size: 15px !important;
  }
}

.fof-open-sans {
  font-family: 'Open Sans', sans-serif !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 500 !important;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .pt-120 {
    padding-top: 70px !important;
  }
  .pb-120 {
    padding-bottom: 70px !important;
  }
  .pt-100 {
    padding-top: 50px !important;
  }
  .wow {
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/*=========================================================
    [ margin & padding ]
=========================================================*/
.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pt-100 {
  padding-top: 100px;
}

/*=========================================================
    [ Section ]
=========================================================*/
.section-title {
  position: relative;
  z-index: 1;
  text-align: center;
}

.section-title.text-left {
  text-align: left;
}

.section-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
  display: block;
  position: relative;
  z-index: 1;
  margin: -11px 0;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .section-heading {
    font-size: 28px;
  }
}

@media only screen and (max-width: 575.98px) {
  .section-heading {
    font-size: 25px;
  }
}

@media only screen and (max-width: 375px) {
  .section-heading {
    font-size: 23px;
  }
}

.view-all {
  text-align: right;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 480px) {
  .view-all {
    text-align: left;
    margin-top: 20px;
  }
}

.view-all:hover {
  color: #ff2d67;
}

/*=========================================================
          [ Typography ]
=========================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ebebeb;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

h1 {
  font-size: 60px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 700;
  margin: -16px 0;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 575.98px) {
  h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 55px;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
  margin: -11px 0;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  h2 {
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  h2 {
    font-size: 27px !important;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 25px !important;
  }
}

h3 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;
  margin: -10px 0;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  h3 {
    font-size: 27px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  h3 {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 375px) {
  h3 {
    font-size: 22px !important;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  margin: -8px 0;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  h4 {
    font-size: 21px !important;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  h4 {
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  h4 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 375px) {
  h4 {
    font-size: 19px !important;
  }
}

h5 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}

@media only screen and (max-width: 575.98px) {
  h5 {
    font-size: 16px !important;
  }
}

h6 {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

@media only screen and (max-width: 575.98px) {
  h6 {
    font-size: 15px !important;
  }
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin: 0;
  margin-top: -7px;
  margin-bottom: -7px;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  p {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  p {
    font-size: 14px !important;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

/*=========================================================
          [ badge ]
=========================================================*/
.badge--base {
  background-color: #ff2d67;
  color: #fff;
}

.badge--primary {
  color: #fff;
  background-color: #007bff;
}

.badge--secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge--success {
  color: #fff;
  background-color: #28a745;
}

.badge--danger {
  color: #fff;
  background-color: #dc3545;
}

.badge--warning {
  color: #212529;
  background-color: #ffc107;
}

.badge--info {
  color: #fff;
  background-color: #17a2b8;
}

.badge--light {
  color: #212529;
  background-color: #e2e6ea;
}

.badge--dark {
  color: #fff;
  background-color: #23272b;
}

/*=========================================================
          [ button Style ]
=========================================================*/
.btn--custom {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  padding: 17px 30px;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  border-radius: 0px;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .btn--custom {
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .btn--custom {
    font-size: 14px;
    padding: 15px 25px;
  }
}

.btn--base {
  background: #ff2d67;
  border: 1px solid #ff2d67;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn--base:hover {
  background: none;
  border: 1px solid #ff2d67;
  color: #ff2d67;
}

.btn-outline--base {
  background: none;
  color: #ff2d67;
  border: 1px solid #ff2d67;
}

.btn-outline--base:hover {
  background: #ff2d67;
  color: #fff;
}

.btn-outline--body {
  background: none;
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.btn-outline--body:hover {
  background: none;
  color: #ff2d67;
  border-color: #ff2d67;
}

.btn--white {
  background: #fff;
  color: #ff2d67;
  border: 1px solid #fff;
}

.btn--white:hover {
  background: none;
  color: #fff;
  border-color: #fff;
}

.btn--capsole {
  border-radius: 30px;
}

.btn--facebook {
  background: #4267b2;
}

.btn--google {
  background: #da1c36;
}

.btn--twitter {
  background: #1da1f2;
}

/*=========================================================
          [ Card Style ]
=========================================================*/
.custom--card {
  position: relative;
  border: 1px solid #00000020;
  border-radius: 10px;
  width: 300px;
}

.custom--card .card-title {
  margin: 5px 0 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.custom--card .card-text {
  font-size: 16px;
  font-weight: 400;
}

/*=========================================================
          [ Form ]
=========================================================*/
.form--control {
  height: 50px;
  padding: 15px 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 1px solid 1px solid rgba(119, 119, 119, 0.12);
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
}

/*=========================================================
          [ Modal Style ]
=========================================================*/
.custom--modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.custom--modal .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}

.custom--modal .modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
}

.custom--modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.custom--modal .modal-body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem;
}

.custom--modal .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

/*=========================================================
          [ Table ]
=========================================================*/
.custom--table {
  width: 100%;
  color: inherit;
  vertical-align: middle;
  font-weight: 400;
  text-align: center;
}

.custom--table thead {
  font-weight: 700;
  font-size: 18px;
  background: inherit;
  color: inherit;
  border-top: none;
}

.custom--table tbody {
  border-top: 0;
  overflow: hidden;
  border-radius: 10px;
}

.custom--table tbody tr:nth-child(odd) {
  background-color: inherit;
}

.custom--table tr {
  line-height: 50px;
}

.custom--table tr th {
  font-size: 18px;
  font-weight: 700;
}

.custom--table tr td {
  font-size: 14px;
}

[data-label] {
  position: relative;
}

[data-label]::before {
  position: absolute;
  content: attr(data-label);
  font-weight: 700;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  padding: 8px 20px;
  display: none;
  font-size: 13px;
}

@media (max-width: 767px) {
  .table-responsive--sm thead {
    display: none;
  }
  .table-responsive--sm [data-label]::before {
    display: block;
  }
}

/* Main Menu */
.navigation-area {
  background: none;
  z-index: 555;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation-area.shrinkheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background: #272731;
  padding: 10px 0px;
  box-shadow: 1px 25px 32px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 25px 32px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 25px 32px rgba(0, 0, 0, 0.1);
  visibility: visible;
  opacity: 1;
  top: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .navigation-area.shrinkheader {
    padding: 10px 10px 0 !important;
  }
}

.logo img {
  max-height: 80px;
  max-width: 120px;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .logo img {
    max-height: 60px;
    max-width: 130px;
  }
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-menu ul li {
  display: inline-block;
  margin: 25px 16px;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-menu ul li {
    margin: 20px 10px;
  }
}

.main-menu ul li:hover > a.has-child::after {
  content: "\f068";
}

.main-menu ul li:hover > a {
  color: #ff2d67;
  background: none;
}

.main-menu ul li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-menu ul li a.has-child::after {
  content: "\f067";
  font-family: 'Line Awesome Free';
  font-weight: 900;
  margin-right: 10px;
  margin-right: 0;
  margin-left: 5px;
}

.main-menu ul li a {
  color: #ebebeb;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .main-menu ul li a {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-menu ul li a {
    font-size: 14px;
  }
}

.main-menu ul li a.active {
  color: #ff2d67;
}

.main-menu ul li a.active::before {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.main-menu ul li a:hover::before {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.main-menu ul li a::before {
  position: absolute;
  content: "";
  z-index: -1;
  background: #ff2d67;
  height: 2px;
  width: 0;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main-menu ul li .submenu {
  position: absolute;
  width: 200px;
  top: 120%;
  left: 0;
  background: #272731;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  padding: 10px 0;
  border-bottom: 2px solid #ff2d67;
  box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -moz-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-menu ul li .submenu li {
  margin: 0;
  display: block;
}

.main-menu ul li .submenu li:hover > a {
  padding-left: 25px;
  background: none;
  color: #ff2d67;
}

.main-menu ul li .submenu li:hover > a::before {
  display: none;
}

.main-menu ul li .submenu li a {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px dashed rgba(255, 45, 103, 0.3);
}

.main-menu ul li .submenu li:last-child a {
  border-bottom: 0 !important;
}

.main-menu ul li .submenu li .submenu {
  top: 0%;
  left: 100%;
}

/* Searchbar */
@media (min-width: 320px) and (max-width: 991.98px) {
  .navigation-area.shrinkheader .search-open {
    top: 30px;
  }
}

.search-open {
  font-size: 20px;
  cursor: pointer;
  color: #ebebeb;
  margin-left: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .search-open {
    margin-left: 25px;
  }
}

.search-open:hover {
  color: #ff2d67;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .search-open {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 45px;
    z-index: 9999999;
  }
}

.search-bar {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  z-index: 999;
  width: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 1px 25px 32px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 1px 25px 32px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 1px 25px 32px rgba(255, 255, 255, 0.1);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.search-bar.active {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.search-bar .search-box-input {
  position: relative;
  z-index: 999;
}

.search-bar .search-title {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  font-size: 50px;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .search-bar .search-title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 375px) {
  .search-bar .search-title {
    font-size: 28px;
  }
}

.search-bar .menu-search-form {
  position: relative;
  z-index: 999;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

@media only screen and (max-width: 575.98px) {
  .search-bar .menu-search-form {
    width: 100%;
    margin: 0 20px;
  }
}

.search-bar .menu-search-form .search-close {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 575.98px) {
  .search-bar .menu-search-form .search-close {
    right: 15px;
  }
}

.search-bar .menu-search-form .search-close:hover {
  color: #ff2d67;
}

.search-bar .menu-search-form .item-search {
  width: 100%;
  height: 70px;
  background: #000;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  color: #fff;
  padding: 10px 30px;
  padding-right: 70px;
  font-size: 14px;
  border-radius: 7px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media only screen and (max-width: 575.98px) {
  .search-bar .menu-search-form .item-search {
    padding: 10px 15px;
    padding-right: 50px;
  }
}

.search-bar .menu-search-form .item-search:focus {
  border-color: rgba(255, 45, 103, 0.4);
  box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -moz-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
}

.search-bar .menu-search-form .item-search::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.search-bar .menu-search-form .item-search:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.search-bar .menu-search-form .item-search::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.search-bar .menu-search-form .item-search::placeholder {
  color: #fff;
  font-size: 14px;
}

.close-toggle-body {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 555;
  height: 100vh;
  width: 100%;
}

.footer-top {
  padding: 80px 0;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .footer-top {
    padding: 60px 0;
  }
}

.sinlge-top {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.sinlge-top .footer-logo img {
  max-height: 120px;
}

.sinlge-top .common-para {
  margin-top: 30px;
}

.sinlge-top .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sinlge-top .footer-socials li a {
  font-size: 22px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff2d67;
  color: #c5c5c5;
  margin: 5px 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 575.98px) {
  .sinlge-top .footer-socials li a {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
  }
}

.sinlge-top .footer-socials li a:hover {
  color: #ff2d67;
  background: #fff;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-menu li a {
  font-size: 15px;
  font-weight: 400;
  margin: 5px 10px;
  border-bottom: 1px solid;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-menu li a:hover {
  color: #ff2d67;
  border: none;
}

.copyright-area {
  border-top: 1px solid rgba(255, 45, 103, 0.2);
  padding: 30px 10px;
}

.copyright-area .copyright-text {
  display: block;
  text-align: center;
}

.copyright-area .copyright-text a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.copyright-area .copyright-text a:hover {
  color: #ff2d67;
  border-bottom: 1px solid;
}

/* Heading fonts */
/* body fonts */
.banner-area {
  padding: 320PX 0 250px;
  position: relative;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .banner-area {
    padding: 200px 0 130px;
  }
}

@media only screen and (max-width: 480px) {
  .banner-area {
    padding: 170px 0 100px;
  }
}

.banner-single {
  background: #000;
}

.banner-single .banner-images {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.banner-single .banner-images .single-img {
  position: relative;
  z-index: 2;
  display: block;
  height: 400px;
}

.banner-single .banner-images .single-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.banner-single .banner-images .single-img img {
  width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-single .banner-images .single-img .btn--custom {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
}

.banner-single .banner-images .banner-image-content {
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px 30px;
}

.banner-single .banner-images .banner-image-content .release {
  color: #ff2d67;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.banner-single .banner-images .banner-image-content .heading-title:hover {
  color: #ff2d67;
}

.banner-single .banner-images .banner-image-content .review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.banner-single .banner-images .banner-image-content .review-list li a {
  color: #ffc107;
  margin: 0 6px;
}

.banner-single .banner-images .banner-image-content .likes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.banner-single .banner-images .banner-image-content .likes-list li a {
  margin: 0 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.banner-single .banner-images .banner-image-content .likes-list li a:hover {
  color: #ff2d67;
}

.banner-single .banner-images .banner-image-content .likes-list li a i {
  margin-right: 3px;
  color: #ff2d67;
}

.banner-single .banner-images .banner-image-content .common-para {
  margin-top: 30px;
}

.btn-download {
  margin-top: 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #ff2d67;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-download:hover {
  letter-spacing: 2px;
  color: #ff2d67;
}

.category-form {
  background: rgba(0, 0, 0, 0.2);
  padding: 50px;
}

.single-category {
  box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -moz-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
}

.single-category .form--control {
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #272731;
  color: #c5c5c5;
  margin-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.single-category .form--control:focus {
  outline: none;
}

.single-category .form--control::-webkit-input-placeholder {
  color: #c5c5c5;
}

.single-category .form--control:-ms-input-placeholder {
  color: #c5c5c5;
}

.single-category .form--control::-ms-input-placeholder {
  color: #c5c5c5;
}

.single-category .form--control::placeholder {
  color: #c5c5c5;
}

.single-category .category-select {
  box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -moz-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
}

.single-category .category-select .nice-select {
  width: 100%;
  height: 50px;
  background: #272731;
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 50px;
  border-radius: 0px;
  color: #c5c5c5;
  box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -moz-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
}

.single-category .category-select .nice-select .option.focus {
  background: #ff2d67;
}

.single-category .category-select .nice-select .option:hover {
  background: #ff2d67;
  color: #fff;
}

.single-category .category-select .nice-select::before {
  content: "\f0dc";
  font-family: 'Line Awesome Free';
  font-weight: 900;
  margin-right: 10px;
  position: absolute;
  right: 10px;
}

.single-category .category-select .nice-select::after {
  /* content: "\f0dc";
                @include line-font; */
  display: none;
}

.single-category .category-select .nice-select .list {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.single-category button {
  width: 100%;
  min-height: 50px;
  background: #ff2d67;
  color: #fff;
  font-size: 18px;
  padding: 5px 20px;
  box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -moz-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
}

.downloaded-area {
  /* div[class*="col"] {
        &:nth-child(2n+2) {
            display: flex;
            .single-downloaded {
                .download-contents {
                }
            }
        }
    } */
}

.downloads-images {
  height: 220px;
  display: block;
}

.downloads-images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .downloads-contents {
    margin-top: 20px;
  }
}

.downloads-contents .downloads-title {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.downloads-contents .downloads-title:hover {
  color: #ff2d67;
}

.downloads-contents .download-post {
  margin-top: 20px;
  display: block;
  color: #ff2d67;
}

.downloads-contents .download-post a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.downloads-contents .download-post a:hover {
  color: #ff2d67;
}

.downloads-contents .common-para {
  margin-top: 20px;
}

.download-now {
  margin-top: 30px;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.download-now i {
  color: #ff2d67;
}

.download-now:hover {
  color: #ff2d67;
}

.single-downloaded {
  height: 100%;
}

.single-downloaded .downloaded-images {
  height: 300px;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 5px solid #00000033;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-downloaded .downloaded-images:hover {
  border-color: #ff2d67;
}

.single-downloaded .downloaded-images:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.single-downloaded .downloaded-images:hover .star-rating {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.single-downloaded .downloaded-images:hover .download-name {
  color: #fff;
  padding: 20px;
  bottom: 0;
}

.single-downloaded .downloaded-images:hover .download-name::before {
  background: #ff2d67;
}

.single-downloaded .downloaded-images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-downloaded .downloaded-images .star-rating {
  position: absolute;
  top: 20px;
  left: -30px;
  background: #ff2d67;
  padding: 5px 20px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 9;
}

.single-downloaded .downloaded-images .quality {
  display: block;
  position: absolute;
  top: 15px;
  right: -60px;
  background: #ff2d67;
  padding: 10px 70px;
  color: #fff;
  font-size: 19px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 9;
}

.single-downloaded .downloaded-images .download-name {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
  font-size: 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.single-downloaded .downloaded-images .download-name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-webseries {
  position: relative;
  z-index: 1;
}

.single-webseries::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-webseries:hover::before {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 0%;
}

.single-webseries:hover .webseries-contents {
  bottom: 20px;
}

.single-webseries:hover .webseries-contents .webs-title {
  margin-bottom: 30px;
  visibility: visible;
  opacity: 1;
}

.single-webseries:hover .webseries-contents .webs-bottom-content {
  visibility: visible;
  opacity: 1;
}

.single-webseries .webseries-images {
  height: 300px;
  display: block;
  position: relative;
  z-index: 1;
}

.single-webseries .webseries-images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-webseries .webseries-contents {
  position: absolute;
  z-index: 9;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-webseries .webseries-contents .webs-title {
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-bottom: 100px;
  visibility: hidden;
  opacity: 0;
}

.single-webseries .webseries-contents .webs-title:hover {
  color: #ff2d67;
}

.single-webseries .webseries-contents .webs-bottom-content {
  visibility: hidden;
  opacity: 0;
  bottom: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.single-webseries .webseries-contents .webs-bottom-content .web-download {
  margin-top: 30px;
  display: block;
  color: #ff2d67;
}

.single-tvshow-slider {
  margin: 10px 0;
}

.single-tvshow-slider:last-child {
  margin-bottom: 0;
}

.single-tvshow-slider.slick-center .tvshow-slider-flex {
  box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -moz-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  border: 1px solid rgba(255, 45, 103, 0.3);
}

.single-tvshow-slider .tvshow-slider-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 45, 103, 0.1);
}

@media only screen and (max-width: 480px) {
  .single-tvshow-slider .tvshow-slider-flex {
    padding: 20px;
  }
}

.single-tvshow-slider .tvshow-slider-flex .tvshow-images {
  height: 120px;
  width: 200px;
  margin-right: 30px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .single-tvshow-slider .tvshow-slider-flex .tvshow-images {
    width: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .single-tvshow-slider .tvshow-slider-flex .tvshow-images {
    display: none;
  }
}

.single-tvshow-slider .tvshow-slider-flex .tvshow-images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 10px;
}

.single-tvshow-slider .tvshow-slider-flex .tvshow-contents .common-title {
  margin-bottom: 10px;
}

.single-tvshow-slider .tvshow-slider-flex .tvshow-contents .tvshow-tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.single-tvshow-slider .tvshow-slider-flex .tvshow-contents .tvshow-tag-list li {
  font-size: 14px;
  margin-right: 20px;
}

.single-tvshow-slider .tvshow-slider-flex .tvshow-contents .tvshow-tag-list li:last-child {
  margin-right: 0;
}

.single-tvshow-slider .tvshow-slider-flex .tvshow-contents .tvshow-tag-list li i {
  font-size: 18px;
  margin-right: 3px;
  color: #ff2d67;
}

.tvshow-slider-click {
  max-height: 450px;
  overflow-y: scroll;
}

.tvshow-slider-click::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 50px;
}

.tvshow-slider-click::-webkit-scrollbar {
  width: 8px;
}

.tvshow-slider-click::-webkit-scrollbar-thumb {
  background-color: #ff2d67;
  border-radius: 50px;
}

.tvshow-slider-click .slick-list {
  margin: -10px 0;
}

.single-image-slider {
  position: relative;
  z-index: 1;
}

.single-image-slider:hover::before, .single-image-slider:hover::after {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.single-image-slider:hover .tvshow-img-contents {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.single-image-slider::before, .single-image-slider::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 0;
}

.single-image-slider::after {
  background: rgba(0, 0, 0, 0.7);
  height: 0;
}

.single-image-slider .tvshow-slide-image {
  display: block;
  height: 460px;
}

.single-image-slider .tvshow-slide-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.single-image-slider .tvshow-img-contents {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -150px;
  right: 0;
  text-align: left;
  z-index: 9;
  padding: 20px 50px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.single-image-slider .tvshow-img-contents .common-title {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-image-slider .tvshow-img-contents .common-title:hover {
  color: #ff2d67;
}

.single-image-slider .tvshow-img-contents .tvshow-release {
  margin-top: 20px;
  display: block;
  color: #ff2d67;
}

.single-image-slider .tvshow-img-contents .common-para {
  margin-top: 30px;
}

.single-games {
  margin: 15px;
}

.single-games:hover .games-image::before {
  visibility: visible;
  opacity: 1;
}

.single-games:hover .games-image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.single-games .games-image {
  height: 200px;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.single-games .games-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-games .games-image .premmium {
  position: absolute;
  top: 20px;
  right: -100px;
  background: #ff2d67;
  color: #fff;
  z-index: 9;
  padding: 10px 100px;
  width: 270px;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.single-games .games-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-games .games-contents .games-title {
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 25px;
  display: block;
  line-height: 1.4;
}

.single-games .games-contents .games-title:hover {
  text-decoration: underline;
  color: #ff2d67;
}

.single-games .games-contents .game-ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #fff;
}

.single-games .games-contents .linsence-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.single-games .games-contents .linsence-list li {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.single-games .games-contents .linsence-list li:hover {
  color: #ff2d67;
}

.single-games .games-contents .linsence-list li:not(:last-child) {
  margin-right: 20px;
}

.single-games .games-contents .linsence-list li i {
  color: #ff2d67;
}

.game-slider .slick-list {
  margin: -15px;
}

.newsletter-area {
  position: relative;
  z-index: 1;
}

.newsletter-left-img {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  z-index: 99;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .newsletter-left-img {
    display: none;
  }
}

.newsletter-left-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.newsletter-contents .common-para {
  margin-top: 30px;
}

.newsletter-form {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.newsletter-form .form--control {
  border-radius: 0;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 60px;
  margin-bottom: 0;
  color: #c5c5c5;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px 150px 0px 15px;
}

.newsletter-form .form--control:focus {
  border-color: rgba(255, 255, 255, 0.4);
  outline: none;
  box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -webkit-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
  -moz-box-shadow: 0 0 27px rgba(255, 45, 103, 0.2);
}

.newsletter-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5px 30px;
  background: #ff2d67;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 375px) {
  .newsletter-form button {
    position: unset;
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */